@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.dn {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__btn-wrap {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__change-group {
    position: relative;
    margin-left: auto;
    width: 300px;
}

.header__change-list {
    position: absolute;
    top: 61px;
    right: 0;
    width: 300px;
    padding: 20px 52px;
    line-height: 1;
    background-color: #00c78b;
    border: none;
    border-radius: 30px;
}

.header__change-item {
    margin-bottom: 28px;
}

.header__change-link {
    color: #ffffff;
}

.btn {
    width: 300px;
    padding: 20px 32px;
    text-align: center;
    line-height: 1;
    background-color: #00c78b;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #ffffff;
    box-shadow: 0 1px 20px 0 rgba(72, 3, 38, 0.07);
}

.main {
    padding: 32px 0;
    background-color: #F1FFFC;
}

.main__container {
    max-width: 840px;
    margin: 0 auto;
    padding: 148px 268px;
    box-shadow: 0 0 50px 0 rgba(96, 4, 50, 0.23);
    background-color: #fff;
    background-image: url('../images/card-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content-text {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
}

.footer {
    padding: 16px 0;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__item {
    margin-bottom: 8px;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__socials {
    width: 192px;
}

.footer__socials-list {
    display: flex;
    gap: 16px;
}

@media (max-width: 945px) {
    body {
        font-size: 14px;
    }
    .btn {
        max-width: 226px;
        padding: 16px 20px;
    }
    .header__btn-wrap {
        gap: 10px;
    }
    .header__change-list {
        width: 100%;
        padding: 16px 20px;
        top: 54px;
        right: auto;
        left: 0;
    }
    .btn--change-group {
        max-width: 100%;
    }
}

@media (max-width: 843px) {
    .main__container {
        padding: 116px 200px;
    }
}

@media (max-width: 763px) {
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }
    .header__btn-wrap {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .header__change-group {
        width: 226px;
        margin-left: 0;
    }
    .main__container  {
        padding-right: 150px;
        padding-left: 150px;
        padding-top: 200px;
    }
    .main {
        padding: 0;
    }
}

@media (max-width: 640px) {
    .main__container {
        padding-top: 120px;
    }
    .header__btn-wrap {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .header__change-group {
        width: 100%;
    }
    .btn {
        max-width: 48%;
    }
}

@media (max-width: 600px) {
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main__container {
        padding-right: 60px;
        padding-left: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .footer__info {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 468px) {
    .main__container {
        background-size: auto;
        object-fit: cover;
    }
}

@media (max-width: 370px) {
    .main__container {
        padding-top: 130px;
        padding-right: 20px;
        padding-left: 20px;
    }
}